<div class="flex flex-col md:flex-row items-center justify-between bg-white rounded-2xl shadow-lg p-8 mt-6">
  <div class="md:w-1/2 text-center md:text-left">
    <h1 class="text-4xl font-bold text-blue-800 mb-4">¡Bienvenido!</h1>
    <p class="text-lg text-gray-600 mb-6">
      Nos alegra verte en la plataforma acad&eacute;mica de <span class="font-semibold">UNIBE</span>.
      Aqu&iacute; podr&aacute;s consultar tu malla curricular
    </p>
  </div>

  <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
    <img src="/assets/logo-name.webp" alt="Bienvenida" class="w-64 md:w-80">
  </div>
</div>

<div class="flex flex-col md:flex-row items-center justify-between bg-white rounded-2xl shadow-lg p-8 mt-6">
  <div class="text-center md:text-left">
    <h1 class="text-4xl font-bold text-blue-800 mb-4">MISI&Oacute;N</h1>
    <p class="text-lg text-gray-600 mb-6">
      Es una instituci&oacute;n de Educaci&oacute;n Superior con orientaci&oacute;n human&iacute;stica, que forma
      profesionales con valores &eacute;ticos;
      comprometida a fomentar el desarrollo sostenible del pa&iacute;s a trav&eacute;s de la investigaci&oacute;n, la
      tecnolog&iacute;a y la
      innovaci&oacute;n.
    </p>
  </div>
</div>


<div class="flex flex-col md:flex-row items-center justify-between bg-white rounded-2xl shadow-lg p-8 mt-6">
  <div class="text-center md:text-left">
    <h1 class="text-4xl font-bold text-blue-800 mb-4">VISI&Oacute;N</h1>
    <p class="text-lg text-gray-600 mb-6">
      Ser un referente de Educaci&oacute;n Superior en el pa&iacute;s, por su desempeño hacia la excelencia en los
      &aacute;mbitos de la
      enseñanza-aprendizaje, la investigaci&oacute;n cient&iacute;fica y human&iacute;stica, y la vinculaci&oacute;n con
      la sociedad, para
      contribuir al desarrollo sostenible del pa&iacute;s.
    </p>
  </div>
</div>
