<p-toast></p-toast>
<p-dialog header="Registrar Estudiante"
          [modal]="true" [draggable]="false" [breakpoints]="{ '1199px': '100vw', '550px': '100vw' }"
          [(visible)]="showDialog" position="top" [style]="{ width: '100rem' }" [closable]="false">
  <ng-template #content>
    <form [formGroup]="formStudent">
      <div class="card justify-center">
        <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
          <p-step-list>
            <p-step [value]="1">Aceptación</p-step>
            <p-step [value]="2">Estudiante</p-step>
            <p-step [value]="3">Carrera</p-step>
          </p-step-list>
          <p-step-panels>
            <p-step-panel [value]="1">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col mb-2">
                  <h3><strong>Aceptación de Uso de Datos Personales</strong></h3>
                  <p>¿Se autoriza de forma libre, expresa e informada a UNIBE a recolectar,
                    almacenar, consultar, actualizar, procesar y disponer de mis datos personales, de conformidad con la
                    legislación vigente sobre protección de datos personales, garantizando siempre la confidencialidad y
                    seguridad de los mismos?</p>
                </div>
                <div class="flex items-center justify-center flex-wrap gap-3 mb-3">
                  <p class="m-0"><strong>Acepto el uso de mis datos personales</strong></p>
                  <p-select-button
                    [options]="approvalOptions"
                    formControlName="acceptUseOfData"
                    optionLabel="label"
                    optionValue="value">
                  </p-select-button>
                </div>
                <div class="flex flex-col mb-1">
                  @for (message of acceptUserDataMessge(); track message; let first = $first) {
                    <p-message severity="error" [text]="message" variant="outlined"/>
                  }
                </div>
                <div class="flex pt-6 justify-end">
                  <p-button label="Siguiente" icon="pi pi-arrow-right" styleClass="p-button-info" iconPos="right"
                            (onClick)="validateAcceptmentUserData(activateCallback)"/>
                </div>
                <div class="text-center mt-8">
                  <p-button class="m-2" label="Cancelar" icon="pi pi-times" styleClass="p-button-danger"
                            (onClick)="closeDialog()" [loading]="isCreatingUser"/>
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
              <ng-template #content let-activateCallback="activateCallback">
                <p-fieldset>
                  <ng-template #header>
                    <div class="flex items-center gap-2 px-2">
                      <em class="pi pi-user"></em>
                      <span class="font-bold">Información</span>
                    </div>
                  </ng-template>
                  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                    <div>
                      <label for="identification" class="block text-sm font-bold mb-1">Identificaci&oacute;n</label>
                      <input
                        pInputText
                        id="identification"
                        formControlName="identification"
                        maxLength="13"
                        autocomplete="off"
                        pKeyFilter="alphanum"
                        placeholder="1752XXXXXX"
                        class="w-full p-inputtext"
                      />
                      @if (this.formStudent.get('identification')?.hasError('required') && this.formStudent.get('identification')?.touched) {
                        <small class="text-red-500 mt-1">La identificación es requerida.</small>
                      }
                    </div>
                    <div>
                      <label for="name" class="block text-sm font-bold mb-1">Nombres</label>
                      <input
                        pInputText
                        id="name"
                        formControlName="name"
                        maxLength="100"
                        autocomplete="off"
                        [pKeyFilter]="alphabetic"
                        placeholder="Italo Luis"
                        class="w-full p-inputtext"
                      />
                      @if (this.formStudent.get('name')?.hasError('required') && this.formStudent.get('name')?.touched) {
                        <small class="text-red-500 mt-1">El nombre es requerido.</small>
                      }
                    </div>
                    <div>
                      <label for="lastname" class="block text-sm font-bold mb-1">Apellidos</label>
                      <input
                        pInputText
                        id="lastname"
                        formControlName="lastname"
                        maxLength="100"
                        autocomplete="off"
                        [pKeyFilter]="alphabetic"
                        placeholder="D&iacute;az Iza"
                        class="w-full p-inputtext"
                      />
                      @if (this.formStudent.get('lastname')?.hasError('required') && this.formStudent.get('lastname')?.touched) {
                        <small class="text-red-500 mt-1">El apellido es requerido.</small>
                      }
                    </div>
                    <div>
                      <label for="email" class="font-bold block mb-2">Correo</label>
                      <input type="text" pInputText id="email" formControlName="email"
                             autocomplete="off" maxlength="255" placeholder="italo.diaz@unibe.ec" class="w-full"/>
                      @if (this.formStudent.get('email')?.hasError('required') && this.formStudent.get('email')?.touched) {
                        <small class="text-red-500 mt-1">El email es requerido.</small>
                      }
                    </div>
                    <div>
                      <label for="username" class="font-bold block mb-2">Nombre de Usuario</label>
                      <input pInputText id="username" formControlName="username"
                             maxlength="100" autocomplete="off" placeholder="1752XXXXXX" class="w-full"/>
                      @if (this.formStudent.get('username')?.hasError('required') && this.formStudent.get('username')?.touched) {
                        <small class="text-red-500 mt-1">El nombre de usuario es requerido.</small>
                      }
                    </div>
                    <div>
                      <label class="font-bold block mb-2">Fecha Nacimiento</label>
                      <p-datepicker
                        class="w-full md:w-80"
                        formControlName="bornDate"
                        [readonlyInput]="true"
                        [dateFormat]="UtilConst.DATE_FORMAT_PICKER">
                      </p-datepicker>
                      @if (this.formStudent.get('bornDate')?.hasError('required') && this.formStudent.get('bornDate')?.touched) {
                        <small class="text-red-500 mt-1">El género es requerido.</small>
                      }
                    </div>
                    <div>
                      <label for="genre" class="font-bold block mb-2">G&eacute;nero</label>
                      <p-select id="genre" class="w-full" formControlName="genre"
                                  [options]="genresAvailable$() || []"
                                  optionLabel="genero" optionValue="codGenero">
                      </p-select>
                      @if (this.formStudent.get('genre')?.hasError('required') && this.formStudent.get('genre')?.touched) {
                        <small class="text-red-500 mt-1">El género es requerido.</small>
                      }
                    </div>
                  </div>
                </p-fieldset>
                <div class="mt-4 mb-4">
                  <p-fieldset>
                    <ng-template #header>
                      <div class="flex items-center gap-2 px-2">
                        <em class="pi pi-circle-off"></em>
                        <span class="font-bold">Homologación</span>
                      </div>
                    </ng-template>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                      <div class="flex items-center gap-2">
                        <p-checkbox [binary]="true" variant="filled" formControlName="approval"/>
                        <label class="font-bold block">Homologación</label>
                      </div>
                      <div>
                        <input pInputText id="approval" formControlName="approvalSite"
                               maxlength="100" autocomplete="off" placeholder="Lugar de Homologación" class="w-full"/>
                      </div>
                    </div>
                  </p-fieldset>
                </div>
                <div class="flex justify-end">
                  <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" styleClass="p-button-info"
                            (onClick)="activateCallback(3)"/>
                </div>
                <div class="text-center mt-8">
                  <p-button class="m-2" label="Cancelar" icon="pi pi-times" styleClass="p-button-danger"
                            (onClick)="closeDialog()" [loading]="isCreatingUser"/>
                </div>
              </ng-template>
            </p-step-panel>
            <p-step-panel [value]="3">
              <ng-template #content let-activateCallback="activateCallback">
                <p-fieldset>
                  <ng-template #header>
                    <div class="flex items-center gap-2 px-2">
                      <em class="pi pi-graduation-cap"></em>
                      <span class="font-bold">Información</span>
                    </div>
                  </ng-template>
                  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                    <div>
                      <label for="career" class="font-bold block mb-2">Carrera</label>
                      <p-select id="career" class="w-full" formControlName="career"
                                  [options]="careersAvailable$() || []"
                                  optionLabel="carrera" optionValue="codCarrera"
                                  (onChange)="changeCareer($event)">
                      </p-select>
                      @if (this.formStudent.get('career')?.hasError('required') && this.formStudent.get('career')?.touched) {
                        <small class="text-red-500 mt-1">La carrera es requerida.</small>
                      }
                    </div>
                    <div>

                      <label class="font-bold block mb-2">Semestre</label>
                      <p-inputnumber formControlName="level" mode="decimal" [showButtons]="true"
                                     [min]="1" [max]="maxLevel"
                                     [minFractionDigits]="0" [maxFractionDigits]="0"
                                     class="w-full">
                      </p-inputnumber>
                    </div>
                    <div>
                      <label for="modality" class="font-bold block mb-2">Modalidad</label>
                      <p-select id="modality" class="w-full" formControlName="modality"
                                  [options]="modalities"
                                  optionValue="codModalidad" optionLabel="modalidad">
                      </p-select>
                      @if (this.formStudent.get('modality')?.hasError('required') && this.formStudent.get('modality')?.touched) {
                        <small class="text-red-500 mt-1">La modalidad es requerida.</small>
                      }
                    </div>
                  </div>
                </p-fieldset>

                @if (this.formStudent.get('approval')?.value) {
                  <div class="mt-4">
                    <p-fieldset>
                      <ng-template #header>
                        <div class="flex items-center gap-2 px-2">
                          <em class="pi pi-check-circle"></em>
                          <span class="font-bold">Asignaturas</span>
                        </div>
                      </ng-template>

                      <div class="card">
                        <label for="modality" class="font-bold block mb-2">Semestres para Homologación</label>
                        <p-multiselect [options]="semestersApproval"
                                       formControlName="semestersApproval" (onChange)="getApprovalSubjects($event)"
                                       placeholder="Selecciona al menos un semestre" display="chip"
                                       styleClass="w-full md:w-80">

                        </p-multiselect>
                      </div>

                        <p-pick-list [source]="approvalSubjects" [target]="targetApprovalSubjects" [dragdrop]="true">
                          <ng-template let-item #item>
                            <strong>{{ this.formatSubjectName(item.descripcion, item.nivel, item.codAsignatura) }}</strong>
                          </ng-template>
                        </p-pick-list>

                    </p-fieldset>
                  </div>
                }

                <div class="flex pt-6 justify-start">
                  <p-button label="Atrás" icon="pi pi-arrow-left" iconPos="right" styleClass="p-button-info"
                            (onClick)="activateCallback(2)"/>
                </div>
                <div class="text-center mt-8">
                  <p-button class="m-2" label="Cancelar" icon="pi pi-times" styleClass="p-button-danger"
                            (onClick)="closeDialog()" [loading]="isCreatingUser"/>
                  <p-button class="m-2" label="Guardar" icon="pi pi-save" [loading]="isCreatingUser"
                            (onClick)="registerStudent()"/>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-panels>
        </p-stepper>
      </div>
    </form>
  </ng-template>
</p-dialog>
