<main class="card overflow-x-auto">
  <p-organization-chart [value]="this.studentTreeData$()" selectionMode="multiple" [collapsible]="true">
    <ng-template let-node pTemplate="person">
      <div class="flex flex-col w-full p-2 bg-white">
        <div class="divide-y divide-gray-300 text-center">
          <div class="py-2 font-bold text-base text-slate-800">
            {{ node.data.code }}
          </div>
          <div class="py-2 text-slate-600">
            {{ node.data.title }}
          </div>
          <div class="py-2 text-slate-600">
            {{ node.data.horas }} horas
          </div>
          <div class="py-2 text-slate-600">
            {{ node.data.credits }} créditos
          </div>
        </div>
      </div>
    </ng-template>
  </p-organization-chart>
</main>
