@let studentInfo = studentCurrenLevel$() ;

<main class="card">
  <p class="text-center">Malla Curricular Nivel I</p>
  @for (level of studentInfo; track level.codAsignatura) {
    <p>{{ level | json }}</p>
  }

  <div class="card flex justify-center overflow-x-auto">
    <p-organization-chart [value]="data" selectionMode="multiple" [collapsible]="true">
      <ng-template let-node pTemplate="person">
        <div class="flex flex-col">
          <div class="flex flex-col items-center">
            <div class="font-bold mb-2">{{ node.data.name }}</div>
            <div>{{ node.data.title }}</div>
          </div>
        </div>
      </ng-template>
    </p-organization-chart>
  </div>
</main>
