<div class="mt-5">
  <app-student-create *ngIf="showDialog()" [showDialog]="showDialog()" (onClose)="isCreatedStudent.set(false)"></app-student-create>


  <app-student-filter (listStudents)="listStudents($event)"></app-student-filter>

  <p-toolbar styleClass="mb-2 mt-2">
    <ng-template #start>
      <p-button class="m-2" icon="pi pi-download" severity="info" (onClick)="exportUser()"
                pTooltip="Descargar estudiantes en CSV" tooltipPosition="left" [disabled]="!this.listStudent"/>
      <p-button class="m-2" icon="pi pi-plus" severity="success" (onClick)="createStudent()"
                pTooltip="Registrar Estudiante" tooltipPosition="left"/>
    </ng-template>
  </p-toolbar>
  <p-toast></p-toast>
  <p-table #studentsTable
    [columns]=""
    [tableStyle]="{ 'min-width': '48rem' }"
    [value]="this.students"
    showGridlines
    [paginator]="true"
    [showCurrentPageReport]="true"
    [totalRecords]="this.totalStudents"
    (onLazyLoad)="getStudents($event)"
    [rows]="studentsPerPage"
    [scrollable]="true"
    [lazy]="true"
    [loading]="loadingStudents.value"
    [showLoader]="false"
    editMode="row"
    rowGroupMode="subheader"
    dataKey="codCuota"
    groupRowsBy="codCuota"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} estudiantes"
    rowExpandMode="single"
    size="large">

    <ng-template #header>
      <tr>
        <th [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white'}">Acciones</th>
        <th id="ci" [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white'}">Cédula</th>
        <th id="fullname" [style]="{'width': '15%', 'background-color': '#0957ff', 'color': 'white'}">Nombre Completo
        </th>
        <th id="email"
            [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white', 'text-align':'center'}">Correo
        </th>
        <th id="username"
            [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white', 'text-align':'center'}">Usuario
        </th>
        <th id="career"
            [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white', 'text-align':'center'}">Carrera
        </th>
        <th id="modality"
            [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white', 'text-align':'center'}">
          Modalidad
        </th>
        <th id="active"
            [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white', 'text-align':'center'}">
          Activo
        </th>
        <th id="enable"
            [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white', 'text-align':'center'}">
          Habilitado
        </th>
        <th id="register-date"
            [style]="{'width': '10%', 'background-color': '#0957ff', 'color': 'white', 'text-align':'center'}">
          Fecha Registro
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-student>
      <tr>
        <td>
          <div class="flex flex-wrap gap-2 justify-center">
            <p-button
              [rounded]="true"
              [text]="true"
              [loading]="loadingOperation.value"
              icon="pi pi-pencil"
              severity="info"
              pTooltip="Editar Estudiante"
            ></p-button>
            <p-button
              [rounded]="true"
              [text]="true"
              [icon]="student.habilitado ? 'pi pi-ban': 'pi pi-check'"
              [severity]="student.habilitado ? 'danger' : 'success'"
              [loading]="loadingOperation.value"
              [pTooltip]="student.habilitado ? 'Desactivar Estudiante': 'Activar Estudiante'"
              (onClick)="changeStatusEnabled(student.codUsuario)"
            ></p-button>
            @if(!student.activo && student.habilitado) {
              <p-button
                [rounded]="true"
                [text]="true"
                icon="pi pi-envelope"
                severity="contrast"
                pTooltip="Reenviar correo"
                [loading]="loadingOperation.value"
                (onClick)="resendEmail(student.codUsuario)"
              ></p-button>
            }
          </div>
        </td>
        <td>{{ student.cedula }}</td>
        <td>{{ student.nombres + ' ' + student.apellidos }}</td>
        <td>{{ student.correo }}</td>
        <td>{{ student.usuario }}</td>
        <td>{{ student.carrera }}</td>
        <td>
          <p-tag
            [severity]="student.modalidad == 'Diurno' ? 'warn' : 'contrast'"
            [value]="student.modalidad"/>
        </td>
        <td>
          <p-tag [icon]="student.activo ? 'pi pi-check' : 'pi pi-times'"
                 [severity]="student.activo ? 'success' : 'danger'"
                 [value]="student.activo ? 'Activado': 'Desactivado'"/>
        </td>
        <td>
          <p-tag [icon]="student.habilitado ? 'pi pi-check' : 'pi pi-times'"
                 [severity]="student.habilitado ? 'success' : 'danger'"
                 [value]="student.habilitado ? 'Habilitado': 'Deshabilitado'"/>
        </td>
        <td [style]="{'padding': '10px', 'text-align': 'left'}">{{ student.fechaRegistro | date:UtilConst.DATE_FORMAT }}
        </td>
      </tr>
    </ng-template>
    <ng-template #loadingbody>
      <tr [style]="{height: '46px'}">
        <td *ngFor="let _ of [{},{},{},{},{},{},{},{},{},{}]">
          <p-skeleton/>
        </td>
      </tr>
    </ng-template>

    @if (!loadingStudents.value && this.students.length === 0) {
      <ng-template #emptymessage>
        <tr>
          <td colspan="10" [style]="{'text-align': 'center'}">No existen estudiantes</td>
        </tr>
      </ng-template>
    }
  </p-table>
</div>
